.container {
  width: 100vw;
  height: 100vh;
  background-color: #202020;

  .content {
    padding: 10px 100px;

    .header_block {
      img {
        width: 198px;
        transform: translateY(-14px);
      }
    }

    .title {
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      font-size: 32px;
      color: #FFFFFF;
      transform: translateY(-40px);
    }

    .list_channels_content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;

      .list_channels_name {
        direction: rtl !important;
        height: 630px;
        overflow-y: scroll;
        overflow-x: hidden;

        .list_channels_name_items {
          opacity: 1;
          h1 {
            width: 200px;
            text-align: end;
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 28px;
            color: #FFFFFF;
            margin: 30px 20px 30px 0;
            cursor: pointer;

            &:nth-child(1) {
              margin: 0 20px;
            }
          }
        }

        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #D9D9D9;
          border-radius: 500px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #EA3E2A;
          border-radius: 500px;
        }
      }


      .list_channels_block {
        margin-left: 180px;
        height: 630px;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
          display: none;
        }

        .list_channels_items {
          display: flex;
          flex-direction: row;
          margin-bottom: 25px;
          cursor: pointer;

          &:last-child {
            margin-bottom: 0;
          }

          img {
            width: 180px;
            height: 130px;
            object-fit: cover;
          }

          .list_channels_items-info {
            margin-left: 20px;

            h1 {
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
              font-size: 32px;
              color: #FFFFFF;
              margin-bottom: 10px;
            }

            h2 {
              margin-bottom: 8px;
              font-family: 'Raleway', sans-serif;
              font-weight: 400;
              font-size: 24px;
              color: #FFFFFF;

              &:nth-child(3) {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .list_channels_fullInfo {
        margin-left: 120px;
        overflow: hidden;
        width: 0;

        .fullInfo_title {
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 30px;
          color: #E1E6EE;
        }

        .under_title {
          margin-top: 10px;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 32px;
          color: #E1E6EE;          
        }

        .list_channels_progress {
          display: flex;
          flex-direction: row;
          align-items: center;

          .times {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #E1E6EE;            
          }

          progress {
            margin: 0 22px;
            background-color: transparent;
            width: 242px;

            &::-webkit-progress-bar {
              background-color: #000000;
              height: 12px;
              border-radius: 25px;
            }
            &::-webkit-progress-value {
              background-color: #EA3E2A;
              border-radius: 25px;
            }
            &::-moz-progress-bar {
              background-color: #000000;
            }
          }
        }

        .description {
          margin-top: 20px;
          font-family: 'Raleway', sans-serif;
          font-weight: 500;
          font-size: 24px;
          color: #E1E6EE;
          width: 379px;
        }
      }
    }
  }
}
