<div class="container">
    <div class="content">
        <div class="header_block">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <h1 class="title">ТЕЛЕВИДЕНИЕ</h1>
        
        <div class="list_channels_content">
            <div class="list_channels_name" [ngStyle]="{width: num == 1 ? '10px' : 'auto'}">
                <h1 style="color: #EA3E2A;">Все каналы</h1>
                <h1>Избранное</h1>
                <h1>Иранские</h1>
                <h1>Таджикские</h1>
                <h1>Узбекские</h1>
                <h1>Фильмы</h1>
                <h1>Сериалы</h1>
                <h1>Детям</h1>
                <h1>Музыка</h1>
                <h1>Телепередачи</h1>
            </div>

            
        <div class="list_channels_block">

            <div class="list_channels_items" (click)="fullInfo()">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>
