<div class="container">
    <div class="content">
        <div class="header_block">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <h1 class="title" *ngIf="num < 1">ТЕЛЕВИДЕНИЕ</h1>
        <h1 class="title" *ngIf="num > 0">ВСЕ КАНАЛЫ</h1>
        
        <div class="list_channels_content">
            <div class="list_channels_name" [@animateBlock]="widthBlock">
                <div class="list_channels_name_items" [@animateBlock]="opacityText">
                  <h1 style="color: #EA3E2A;">Все каналы</h1>
                  <h1>Избранное</h1>
                  <h1>Иранские</h1>
                  <h1>Таджикские</h1>
                  <h1>Узбекские</h1>
                  <h1>Фильмы</h1>
                  <h1>Сериалы</h1>
                  <h1>Детям</h1>
                  <h1>Музыка</h1>
                  <h1>Телепередачи</h1>
                </div>
              </div>

            
        <div class="list_channels_block" [@animateBlock]="marginBlock">

            <div class="list_channels_items" (click)="fullInfo()">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

            <div class="list_channels_items">
                <img src="/assets/img/disney.png" alt="">
                <div class="list_channels_items-info">
                    <h1>001. Disney</h1>
                    <h2>09:55 Лило и Стич 3+</h2>
                    <h2>10:55 Пёс по кличке Пэт 3+</h2>
                </div>
            </div>

        </div>

        <div class="list_channels_fullInfo" [@animateBlock]="fullInfoBlock">
            <h1 class="fullInfo_title">Сейчас на дисней</h1>
            <h2 class="under_title">Лило и Стич</h2>
            
            <div class="list_channels_progress">
                <h2 class="times">9.55</h2>
                <progress max="100" value="30"></progress>
                <h2 class="times">10.55</h2>
            </div>

            <h2 class="description">Лило — это маленькая девочка, живущая на Гавайах. 
                Она сирота и живет вместе со своей старшей сестрой Нани. 
                Лило любит всех животных, но больше всего она...
            </h2>
        </div>
        </div>
    </div>
</div>
