<div class="live_video_container">
    <video id="my-video" class="video-js vjs-theme-sea" muted autoplay playsinline data-setup='{}'>
      <source src="http://45.94.219.9:8081/stream/test{{ 1 }}/hls/playlist.m3u8" type="application/x-mpegURL">
    </video>
</div>
<div class="container">
    <div class="content">
        <div class="header_block">
            <img src="/assets/img/logo.svg" alt="">
        </div>
        <h1 class="title" *ngIf="num < 1"> <i style="cursor: pointer; margin-right: 10px;" class="fas fa-arrow-left" routerLink="/home"></i> ТЕЛЕВИДЕНИЕ</h1>
        <h1 class="title" *ngIf="num > 0"> <i style="cursor: pointer; margin-right: 10px;" class="fas fa-arrow-left" (click)="shortInfo()"></i> ВСЕ КАНАЛЫ</h1>
        
        <div class="list_channels_content">
            <div class="list_channels_name" [@animateBlock]="widthBlock">
                <div class="list_channels_name_items" [@animateBlock]="opacityText">
                  <h1 *ngFor="let category of categoryData" [ngStyle]="{color: category.cathegorie_id == categoryID ? '#EA3E2A' : ''}" (click)="categoryButton(category.cathegorie_id)">{{ category.cathegorie_name }}</h1>
                </div>
              </div>
            
        <div class="list_channels_block" [@animateBlock]="marginBlock">

            <div class="list_channels_items" *ngFor="let channel of channelData" (click)="fullInfo(channel.channel_id, channel.channel.potok_id)">
                <img [src]="'http://nets.tj:8000/' + channel.channel.icon_url + '/1.jpg'" alt="">
                <div class="list_channels_items-info">
                    <h1>{{ channel.channel?.channel_id }}. {{ channel.channel?.channel_name }}</h1>
                    <h2>{{ channel.channel?.channels_epg[0]?.epg_start | date: 'hh:mm' }} {{ channel.channel?.channels_epg[0]?.epg_title }}</h2>
                    <h2>{{ channel.channel?.channels_epg[1]?.epg_start | date: 'hh:mm' }} {{ channel.channel?.channels_epg[1]?.epg_title }}</h2>
                </div>
            </div>

        </div>

        <div class="list_channels_fullInfo" [@animateBlock]="fullInfoBlock" *ngIf="fullChannelData.channel_id == channel_id">
            <h1 class="fullInfo_title">Сейчас на {{ fullChannelData.channel?.channel_name }}</h1>
            <h2 class="under_title">{{ fullChannelData.channel?.channels_epg[0]?.epg_title }}</h2>
            
            <div class="list_channels_progress">
                <h2 class="times">{{ fullChannelData.channel?.channels_epg[0]?.epg_start | date: 'hh:mm' }}</h2>
                <progress [max]="fullChannelData.channel?.channels_epg[0]?.epg_stop | date: 'hh.mm'" [value]="date"></progress>
                <h2 class="times">{{ fullChannelData.channel?.channels_epg[0]?.epg_stop | date: 'hh:mm' }}</h2>
            </div>

            <h2 class="description">{{ fullChannelData.channel.channels_epg[0]?.desc }}
            </h2>

            <button class="fullInfo_button" (click)="watchButton()">Смотреть</button>
        </div>
        </div>



        <!-- Hamja bsoz -->
        <h1>Cписок каналов</h1>
        <div class="all-panels">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/allChannels.svg" alt="" />
                        <h3>Все каналы</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img/>
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/tajik_icon.svg" alt="" />
                        <h3>Таджикские</h3>
                    </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img/>
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/movie.svg" alt="" />
                        <h3>Кино</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img/>
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/child.svg" alt="" />
                        <h3>Детские</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img />
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/sport.svg" alt="" />
                        <h3>Спортивные</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img />
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/cognitive.svg" alt="" />
                        <h3>Познавательные</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img  />
              </div> 
            </mat-expansion-panel> 
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="allList_items">
                        <img src="./assets/img/allChannels/tabler_ballon.svg" alt="" />
                        <h3>Развлекательные</h3>
                      </div>
                </mat-panel-title> 
              </mat-expansion-panel-header>
              <div class="allChanels">
                <img>
              </div> 
            </mat-expansion-panel> 
          </mat-accordion>
        </div>
    </div>
</div>
