.modal_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7 );

   
    .modal_block{
        background: #202020;
        border-radius: 50px;
        width: 500px;
        height: 300px;
        position: relative;
        background-image: url();
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 15px;
        h2{
            font-family: 'Raleway';
            font-weight: 700;
            font-size: 25px;
            color: #FFFFFF;
            text-align: center;
        }
 i{
        position: absolute;
        left: 89%;
        top: 5%;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
 .button_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    button{
        background: #EA3E2A;
        border-radius: 25px;
        font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        width: 40%;
        padding: 10px 5px;
        border: none;
        cursor: pointer;
    }
 }
    }
    @media screen and (max-width: 480px) {
        .modal_block{
            h2{
                font-size: 20px;
            }
            .button_block{
                button{
                    width: 47%;
                    font-size: 14px;
                }
            }
        }
    }
}



.profilePage_container{
    background-image: url('/assets/img/HomeBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .profilePage_block{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        .profilePage_header{
            img{

            }
        }
        .profilePage_item{
            h1{
                font-family: 'Raleway';
                font-weight: 800;
                font-size: 32px;
                color: #E1E6EE;
                
            }
            .nameUser_block{
                background: rgba(32, 32, 32, 0.95);
                border: 0.5px solid rgba(255, 255, 255, 0.5);
                box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25), inset 0px 4px 60px rgba(57, 58, 58, 0.25);
                border-radius: 25px;  
                display: flex;
                align-items: center;
                justify-content: space-between; 
                height: 70px;
                padding: 0 20px; 
                margin-top: 10px;           
                h1{
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 32px;
                    color: #FFFFFF;

                }
                h2{
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 24px;
                    color: #FFFFFF;
                    margin-right: 10px;
                    span{
                        font-family: 'Raleway';
                        font-weight: 600;
                        font-size: 32px;
                        color: #FFFFFF;
                        margin-left: 10px;
                    }
                }
            }
        }
        .information_block{
            background: rgba(32, 32, 32, 0.95);
            border: 0.5px solid rgba(255, 255, 255, 0.5);
            box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25), inset 0px 0px 60px #393A3A;
            border-radius: 25px;
            max-width: 500px;
            padding: 40px 40px 80px 40px;
            margin-top: 50px;
            h2{
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 30px;
                color: #FFFFFF;
                text-align: center;
                
            }
            .information_item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
            .balance_block{

                h2{
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 24px;
                    color: #FFFFFF;
                }
                h1{
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 64px;
                    color: #FFFFFF;   
                    text-align: center;                 
                    span{
                        font-family: 'Raleway';
                        font-weight: 400;
                        font-size: 36px;
                        color: #FFFFFF;
                    }
                }
            }
            .days_block{

                h2{
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 24px;
                    color: #FFFFFF;
                }
                h1{
                    font-family: 'Raleway';
                    font-weight: 600;
                    font-size: 64px;
                    color: #FFFFFF;    
                    text-align: center;                
                    span{
                        font-family: 'Raleway';
                        font-weight: 400;
                        font-size: 36px;
                        color: #FFFFFF;
                    }
                }
            }
        }
            
        }
        .profile_btn{
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;

            width: 250px;
            
                button{
                    background: #EA3E2A;
                    border-radius: 50px;
                    width: 100%;
                    height: 50px;
                    font-family: 'Raleway';
                    font-weight: 700;
                    font-size: 32px;
                    color: #FFFFFF;
                    border: none;
                    cursor: pointer;
                    &:active{
                        transform: scale(.99);
                    }
                }
            }
    }
    @media screen and(max-width: 768px) {
        .profilePage_block{
            .profilePage_header{
                img{
                    width: 150px;
                }
            }
            .profilePage_item{
                h1{
                    font-size: 25px;
                }
                .nameUser_block{
                    h1{
                        font-size: 20px;
                    }
                    h2{
                        font-size: 20px;
                        span{
                            font-size: 25px;
                        }
                    }
                }
            }
            .information_block{
                h2{
                    font-size: 25px;
                }
                .information_item{
                    .balance_block{
                        h2{
                            font-size: 20px;
                        }
                        h1{
                            font-size: 50px;
                            span{
                                font-size: 36px;
                            }
                        }
                    }
                    .days_block{
                        h2{
                            font-size: 20px;
                        }
                        h1{
                            font-size: 50px;
                            span{
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
            .profile_btn{
                margin-top: 50px;
                button{
                    font-size: 25px;
                    
                }
            }
        }
        
    }
    @media screen and(max-width: 480px) {
        .profilePage_block{
            .profilePage_header{
                img{
                    width: 150px;
                }
            }
            .profilePage_item{
                .nameUser_block{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 40px 20px;
                    gap: 14px;
                }
                h1{
                    font-size: 25px;
                }
                
            }
            .information_block{
                padding: 40px 15px 40px 15px;
                h2{
                    font-size: 20px;
                }
                .information_item{
                    .balance_block{
                        h2{
                            font-size: 17px;
                        }
                        h1{
                            font-size: 35px;
                            span{
                                font-size: 25px;
                            }
                        }
                    }
                    .days_block{
                        h2{
                            font-size: 17px;
                        }
                        h1{
                            font-size: 35px;
                            span{
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
            .profile_btn{
                width: 200px;
                button{
                    font-size: 20px;
                    height: 40px;
                }
            }
        }
        
    }
    @media screen and(max-width: 350px) {
        .profilePage_block{
            .profilePage_header{
                img{
                    width: 150px;
                }
            }
            .profilePage_item{
                h1{
                    font-size: 25px;
                }
                
            }
            .information_block{
                padding: 40px 15px 40px 15px;
                h2{
                    font-size: 18px;
                }
                .information_item{
                    .balance_block{
                        h2{
                            font-size: 16px;
                        }
                        h1{
                            font-size: 30px;
                            span{
                                font-size: 25px;
                            }
                        }
                    }
                    .days_block{
                        h2{
                            font-size: 16px;
                        }
                        h1{
                            font-size: 30px;
                            span{
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
            .profile_btn{
                width: 200px;
                button{
                    font-size: 20px;
                    height: 40px;
                }
            }
        }
        
    }
}